{% extends 'base.html' %}

{% block title %}
    Enroll as Customer
{% endblock title %}


{% block content %}
<div class="container-fluid">
    <br>
    <form action="" method="post">
        <div class="row">
            
            <div class="col-md-6 col-12 m-auto" style="background-color: white;">
                <div class="text-center">
                    <h5>
                        SIGN UP | Meroekchha.com
                    </h5>
                    <small>
                        You can order, review and do more thing after signing in.
                    </small>
                </div>
                <hr>
                <div class="social-auth-links text-center mb-3">
                    
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fa fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fa fa-google mr-2"></i> Sign in using Google
                    </a>
                </div>
                <hr>
                <div class="form-row p-2" style="background-color: white;">
                    <div class="form-group col-md-12 col-12">
                        {{form.fullname.label_tag}}
                        {{form.fullname}}
                        {{form.fullname.errors}}
                    </div>
                    <div class="form-group col-md-12 col-12">
                        {{form.email.label_tag}}
                        {{form.email}}
                        {{form.email.errors}}
                    </div>
                    <div class="form-group col-md-6 col-12">
                        {{form.password.label_tag}}
                        {{form.password}}
                        {{form.password.errors}}
                    </div>
                    <div class="form-group col-md-6 col-12">
                        {{form.re_password.label_tag}}
                        {{form.re_password}}
                        {{form.re_password.errors}}
                    </div>
                
                    {% csrf_token %}
                    <button class="btn btn-primary col-6 m-auto" type="submit">
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}