{% extends "base.html" %}
{% block title %}
  Add and Manage Users, products and service
{% endblock title %}

{% block content %}

<div class="container-fluid">
  <br>
  <div class="text-center">
    <h5>Add | Manage- MeroEckhaa</h5>
    <small>
      You can add and manage your user, products and services
    </small>
  </div>
  <br>
  <div class="row p-2">

    <div class="col-6 col-md-3 p-2 addall">
        <a href="{%url 'staff:add_category'%}"> 
        <div class="text-center p-3 bg-white" >
          <i class="fa fa-briefcase p-2" style="background-color:green; color: white; border-radius: 5px; font-size: 30px;">
            
          </i>
          <h5 class="mt-2">
            Add Category
          </h5>
        </div>
        </a>
      </div>  
      <div class="col-6 col-md-3 p-2 addall">
        <a href="{%url 'staff:add_sub_cat'%}"> 
        <div class="text-center p-3 bg-white" >
          <i class="fa fa-table p-2" style="background-color: red; color: white; border-radius: 5px; font-size: 30px;">
            
          </i>
          <h5 class="mt-2">
            Add Sub Category
          </h5>
        </div>
        </a>
      </div>  
      <div class="col-6 col-md-3 p-2 addall">
        <a href="{%url 'owner:addvendor'%}"> 
        <div class="text-center p-3 bg-white" >
          <i class="fa fa-paragraph p-2" style="background-color: yellowgreen; color: white; border-radius: 5px; font-size: 30px;">
            
          </i>
          <h5 class="mt-2">
            Add Products
          </h5>
        </div>
        </a>
      </div>  

      <div class="col-6 col-md-3 p-2 addall">
        <a href="{%url 'staff:add_brand'%}"> 
        <div class="text-center p-3 bg-white" >
          <i class="fa fa-check p-2" style="background-color:blue; color: white; border-radius: 5px; font-size: 30px;">
            
          </i>
          <h5 class="mt-2">
            Add a Brand
          </h5>
        </div>
        </a>
      </div>  

      <div class="col-12 col-md-4 p-2 addall">
        <a href="{%url 'owner:addvendor'%}"> 
        <div class="text-center p-3 bg-white" >
          <i class="fa fa-industry p-2" style="background-color: #007bff; color: white; border-radius: 5px; font-size: 30px;">
            
          </i>
          <h4 class="mt-2">
            Add Vendor
          </h4>
          <p>
            Add Vendor to your Online shop
          </p>
        </div>
        </a>
      </div>

    
    <div class="col-12 col-md-4 p-2 addall">
      <a href="{%url 'owner:addwholeseller'%}">
        <div class="text-center p-3 bg-white" >
          <i class="fa fa-users p-2" style="background-color: #ff006a; color: white; border-radius: 5px; font-size: 30px;">
            
          </i>
          <h4 class="mt-2">
            Add WholeSeller
          </h4>
          <p>
            Add WholeSeller to your Online shop
          </p>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4 p-2 addall">
      <a href="{%url 'owner:adddeliveryboy'%}">
        <div class="text-center p-3 bg-white" >
          <i class="fa fa-motorcycle p-2" style="background-color: #24d441; color: white; border-radius: 5px; font-size: 30px;">
            
          </i>
          <h4 class="mt-2">
            Add Delivery Boy
          </h4>
          <p>
            Add Delivery Boy to your Online shop
          </p>
        </div>

      </a>
    </div>
  </div>
  <hr>
  <h4 class="text-center">Manage Users and Services in your shop</h4>
  <div class="row text-center">
      
      <div class="col-6 col-md-3 col-sm-3 p-2 text-center">
        <a href="{%url 'owner:vendorlist'%}">
            <button class="btn btn-primary btn-lg w-100" style="height: 75px;">
                <i class="fa fa-industry">
                    Manage vendor
                </i>
            </button>
        </a>
    </div>
    <div class="col-6 col-md-3 col-sm-3 p-2 text-center">
      <a href="{%url 'owner:sellerlist'%}">
          <button class="btn btn-success btn-lg w-100" style="height: 75px;">
              <i class="fa fa-users">
                 Manage WholeSeller
              </i>
          </button>
      </a>
  </div>
    <div class="col-6 col-md-3 col-sm-3 p-2 text-center">
      <a href="{%url 'owner:deliverylist'%}">
          <button class="btn btn-danger btn-lg w-100" style="height: 75px;">
              <i class="fa fa-motorcycle">
                  Mange Delivery boy
              </i>
          </button>
      </a>
  </div>
  <div class="col-6 col-md-3 col-sm-3 p-2 text-center">
    <a href="{%url 'owner:affiliatelist'%}">
        <button class="btn btn-secondary btn-lg w-100" style="height: 75px;">
            <i class="fa fa-link">
                Manage Affiliate
            </i>
        </button>
    </a>
  </div>
  <div class="col-6 col-md-3 col-sm-3 p-2 text-center">
    <a href="{%url 'owner:vendorlist'%}">
        <button class="btn btn-secondary btn-lg w-100" style="height: 75px;">
            <i class="fa fa-money-bill">
                Manage Tax
            </i>
        </button>
    </a>
  </div>
  <div class="col-6 col-md-3 col-sm-3 p-2 text-center">
    <a href="{%url 'owner:vendorlist'%}">
        <button class="btn btn-danger btn-lg w-100" style="height: 75px;">
            <i class="fa fa-rupee-sign">
                Manage Commision
            </i>
        </button>
    </a>
  </div>
  <div class="col-6 col-md-3 col-sm-3 p-2 text-center">
    <a href="{%url 'owner:vendorlist'%}">
        <button class="btn btn-primary btn-lg w-100" style="height: 75px;">
            <i class="fa fa-donate">
                Manage Discount
            </i>
        </button>
    </a>
  </div>
  <div class="col-6 col-md-3 col-sm-3 p-2 text-center">
    <a href="{%url 'owner:vendorlist'%}">
        <button class="btn btn-warning btn-lg w-100" style="height: 75px;">
            <i class="fa fa-file-invoice">
                Manage Coupons
            </i>
        </button>
    </a>
  </div>
  </div>
</div>
{% endblock content %}