<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Grand Technology Pvt Ltd
        {% endblock title %}
       
    </title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css' " type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<body>

    <div class="container-fluid">
        <div class="row topbar">
            <div class="col-12 ">
                <div class="float-right">
                    <ul class="nav p-2">
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="fa fa-users"></i>  
                            Became An Affiliate</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal1">
                            <i class="fa fa-shopping-bag"></i>   
                            Start Selling</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="fa fa-truck"></i>   
                            Track Order</a>
                        </li>
                        <li class="nav-item">
                             
                             {% if user.is_authenticated %}
                             <a class="nav-link" href="{%url 'shop:logout'%}">
                                <i class="fa fa-user-circle"></i> Logout
                             </a>
                             {%else%}
                             <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">
                                <i class="fa fa-user-circle"></i> Sign In
                             </a>
                             {% endif %}

                          </li>
                      </ul>
                </div>
            </div>
            <br>
            <br>
            <br>


            <div class="col-md-3 col-12 p-2 text-center">
               <img src="{%static 'res/logo.PNG'%}" alt="" srcset="">
            </div>
            <div class="col-md-7 col-12 p-2 text-center">
                <div style="display: flex">

                    <div class="search-deliver" style="display: flex;">
                        <div class = "pt-1 pl-2" style="width: 20%; color:#2874f0; font-size: 22px;">
                            <i class="fa fa-map-marker">
                            
                            </i>
                        </div>
                        <div style="width: 70%;">
                            <p class = "m-0 p-1"style="font-size: 8px;">Delivering to</p>
                            <p class="text-center m-0 p-0" style="font-size: 10px;">44600
                                <i class="fa fa-pencil">

                                </i>
                            </p> 
                            
                        </div>
                        
                    
                    </div>
                    <input type="text" placeholder="What Are You Looking For?" class="search-any" style="width: 80%;">
                    <div class="search-button">
                        <i class="fa fa-search p-1" style="font-size: 30px; color: #2874f0;">
                             
                        </i>
                    </div>
                </div>
 
            </div>
            <div class="col-md-2 col-12 p-2">
                <div class="text-center" style="font-weight:bold; font-family:Arial; font-size:20px; color:white;">
                    <i class="fa fa-cart-plus"></i> Cart
                    <span class="badge badge-pill badge-warning">0</span>
                </div>
            </div>
            <br><br>
            <a href=""></a>
        </div>
        
    </div>


    <!-- Model for wholeseller or vendor -->


    <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Start Selling As?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row text-center">
            <div class="col-md-6 col-12 p-1">
                <a href="{%url 'shop:enrollvendor'%}">
                    <div class="btn w-100 btn-lg btn-success">
                        <i class="fa fa-industry">
                        </i>
                        vendor
                    </div>
                </a>   
            </div>
            <div class="col-md-6 col-12 p-1">
                <a href="{%url 'shop:enrollseller'%}">
                    <div class="btn btn-lg w-100 btn-warning">
                        <i class="fa fa-users">
            
                        </i>
                        Wholeseller
                    </div>

                </a>
                
           
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Finish model -->


      <!--Modal: Login / Register Form-->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h6 class="modal-title p-2" id="exampleModalLabel" style="color:white; background-color: #2874f0; border-radius: 20px;">
                    <i class="fa fa-user-circle"></i>
                    Login| MeroEkchaa</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <small black-50>
                            Please Enter your email and password.
                        </small>
                    </div>
                <form action="dologin" method="post" role="form">
                    <div class="row p-2">
                        <div class="col-1">
                            <i class="fa fa-envelope" style="font-size: 30px; color: red; position: absolute;"  >

                            </i>
                        </div>
                        <div class="col-11">
                            <input class = "form-control" type="text" name = "email" placeholder="meroekchaa@gmail.com" style="border-radius: 20px;">
                        </div>
                       
                    </div>
                   
                   <div class="row p-2">
                    <div class="col-1">
                        <i class="fa fa-lock" style="font-size: 35px; color: red; position: absolute; ">

                        </i>
                    </div>
                    <div class="col-11">
                        <input class = "form-control" type="password" name = "password" placeholder="******" style="border-radius: 20px;">
                    </div>
                 
                   </div>
                  {% csrf_token %}
                   <div class="col-8 m-auto">
                        <button class="btn btn-block btn-primary" type="submit">
                            Login
                        </button>
                   </div>
                </form>
                <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <hr>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fa fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fa fa-google mr-2"></i> Sign in using Google
                </a>
                </div>
                </div>
                <div class="modal-footer">
                   
                    <div class="switch-login">
                        <a href="./register.html" class="or-login">Or Create An Account</a>
                    </div>
               
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        
    <!--Modal: Login / Register Form-->
    {% block content %}

    <h5 class="title text-center">New Update</h5>
    <ul  class="text-center">
        <li> > Login- For Admin
            
            <pre>
                email- test@test.com
                password - test@123
            </pre>
        </a></li>
        <li> > User can enroll as wholeseller and vendor. click on start selling </a></li>
        <li> > Registered user like vendor and wholeseller can login </a></li>
        <li> > Admin Dashboard Available.  </a></li>
        <li> > Admin can add vendor and manage vendor. See vendor profile click on manage vendor after admin login</a></li>

    </ul>

    {% endblock content %}
    
<br><br><br><br><br>
    <!-- Footer -->
    <footer class="section-footer">
        <div class="container">
            <section class="footer-top padding-top">
                <div class="row">
                    <aside class="col-sm-3 pt-4">
                        <article class="white">
                            <img src="{%static 'res/logo.PNG'%}" alt="" srcset="">
                            <p class= "p-0 m-0"> <b>REGISTERED OFFICE ADDRESS: </b> </p>
                            <p>
                                <strong>Address: </strong> Kalaiya-06 <br> 
                                Bara, Nepal <br>
                                <strong>Email: </strong> info@meroekchaa.com<br> 
                                <strong>Mob: </strong> +977-9845739252 <br>
                                <strong>REGISTRATION NO: </strong> 6374-074-75 <br> 

                            </p>
                        </article>
                    </aside>
                    <aside class="col-sm-3 col-md-3 white pt-5">
                        <h5 class="title">About Market</h5>
                        <ul class="list-unstyled">
                            <li> <a href="#">About Us</a></li>
                            <li> <a href="#">Market Reviews</a></li>
                            <li> <a href="#">Terms of Use</a></li>
                            <li> <a href="#">Privacy Policy</a></li>
                            <li> <a href="#">Site Map</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-3 white pt-5">
                        <h5 class="title">Customer Service</h5>
                        <ul class="list-unstyled">
                            <li> <a href="#"> Shipping Policy </a></li>
                            <li> <a href="#"> Return Policy </a></li>
                            <li> <a href="#"> My Account</a></li>
                            <li> <a href="#"> Contact Us </a></li>
                            <li> <a href="#"> FAQs </a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-3 white pt-5">
                        <h5 class="title">Payment & Shipping</h5>
                        <ul class="list-unstyled">
                            <li> <a href="#"> Paymenyt Methods </a></li>
                            <li> <a href="#"> Shipping Guide </a></li>
                            <li> <a href="#"> Locations We Ship To </a></li>
                            <li> <a href="#"> Estimated Delivery Time </a></li>
                        </ul>
                    </aside>
                   
                </div> <!-- row.// -->
                <br> 
            </section>
            <section class="footer-bottom row border-top-white">
                <div class="col-sm-3"> 
                   <strong>Download App</strong> 
                </div>
                <div class="col-sm-6 pt-5">
                    <p class="text-center text-white-30">
                    Copyright © 2018-2020 Meroekchaa.com. All Right Reserved
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="float-right pr-4">
                        Payment Methods
                    </div>
                    
                </div>
            </section> <!-- //footer-top -->
        </div><!-- //container -->
    </footer>
    <!-- End Footer -->
     <!-- Js Plugins -->
     <script src="{%static 'js/jquery-3.3.1.min.js' %}"></script>
     <script src="{%static 'js/bootstrap.min.js' %} "></script>
     <script src="{%static 'js/jquery-ui.min.js' %} "></script>
     <script src="{%static 'js/jquery.countdown.min.js' %} "></script>
     <script src="{%static 'js/jquery.nice-select.min.js' %} "></script>
     <script src="{%static 'js/jquery.zoom.min.js' %} "></script>
     <script src="{%static 'js/jquery.dd.min.js' %} "></script>
     <script src="{%static 'js/jquery.slicknav.js' %} "></script>
     <script src="{%static 'js/owl.carousel.min.js' %} "></script>
     <script src="{%static 'js/main.js' %} "></script>
     <!-- CSS only -->

<!-- JS, Popper.js, and jQuery -->
<script data-ad-client="ca-pub-3107090125208961" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
</body>

</html>